[Unit]
Description=Fix ACPI wakeup issues
DefaultDependencies=no
Conflicts=shutdown.target
Before=sysinit.target shutdown.target
ConditionPathExists=|/proc/acpi/wakeup

[Service]
ExecStart=/usr/local/bin/acpi-wakeup-fixxer $ACPI_WAKEUP_FIXXER_ARGS
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
EnvironmentFile=-/etc/default/acpi-wakeup-fixxer

[Install]
WantedBy=sysinit.target
